@use "variables";

@mixin container(){
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 20px;

  @include mobile(){
    padding: 64px 16px;
  }
}

@mixin mobile(){
  @media(max-width: 768px){
    @content;
  }
}

@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexColCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flexBetween(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin buttonRed(){
  font-size: 16px;
  padding: 10px 20px;
  background-color: variables.$red;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: "Onest", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @include mobile(){
    font-size: 14px;
    padding: 8px 16px;
  }

  &:hover{
    background-color: #8b0f17;
  }
}
@mixin buttonYellow(){
  font-size: 16px;
  padding: 10px 20px;
  background-color: variables.$yellow;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: "Onest", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @include mobile(){
    font-size: 14px;
    padding: 8px 16px;
  }

  &:hover{
    background-color: #d3910c;
  }
}
@mixin buttonIcon(){
  @include flexCenter();
  gap: 8px;
  width: 240px;
  margin: 0 auto;
  transition: all 0.3s;

  i{
    visibility: hidden;
    opacity: 0;
    width: 0%;
    transition: all 0.3s;
  }
  &:hover i{
    opacity: 1;
    width: 10%;
    visibility: visible;
  }
}