@use "variables";

@mixin container(){
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 20px;

  @include mobile(){
    padding: 64px 16px;
  }
}

@mixin mobile(){
  @media(max-width: 768px){
    @content;
  }
}

@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexColCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flexBetween(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin buttonRed(){
  font-size: 16px;
  padding: 10px 20px;
  background-color: variables.$red;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: "Onest", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @include mobile(){
    font-size: 14px;
    padding: 8px 16px;
  }

  &:hover{
    background-color: #8b0f17;
  }
}
@mixin buttonYellow(){
  font-size: 16px;
  padding: 10px 20px;
  background-color: variables.$yellow;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: "Onest", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @include mobile(){
    font-size: 14px;
    padding: 8px 16px;
  }

  &:hover{
    background-color: #d3910c;
  }
}
@mixin buttonIcon(){
  @include flexCenter();
  gap: 8px;
  width: 240px;
  margin: 0 auto;
  transition: all 0.3s;
  text-align: center;

  i{
    visibility: hidden;
    opacity: 0;
    width: 0%;
    transition: all 0.3s;
  }
  &:hover i{
    opacity: 1;
    width: 10%;
    visibility: visible;
  }
}

@mixin backgroundPage(){
  background-position: center;
  background-size: cover;
  background-position-y: -36px;
  width: 100%;
  height: 500px;
  @include flexCenter();
}

@mixin product($bgColor){
  width: fit-content;
  box-shadow: 0px 4px 8px #ccc;
  border-radius: 16px;
  transition: all 0.3s;
  margin-top: 40px;
  
  &:hover{
    box-shadow: 0px 6px 12px #b8b8b8;

    img{
      transform: scale(1.05) translateY(-6px);
    }
  }
  
  .product-top{
    background-color: $bgColor;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
    img{
      width: inherit;
      margin-top: -80px;
      transition: all 0.3s;

    }
  }

  .product-bottom{
    background-color: variables.$cream;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 16px;
    text-align: center;
    z-index: 1;

    .product-name{
      font-size: 18px;
    }
    .product-taste{
      font-size: 20px;
      font-weight: bold;
      color: variables.$brown;
    }
  }
}