@use "variables";
@use "mixins";

@mixin beforeBox($colorBg){
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  background-color: $colorBg;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-175%);
}

#hero {
  @include mixins.backgroundPage();
  background-image: url('../../images/bg-cloud.jpg');
  background-position: bottom;
  position: relative;
  overflow: hidden;

  h1{
    z-index: 3;
    filter: drop-shadow(4px 4px 0px variables.$brown);
  }

  img{
    position: absolute;
    bottom: 0;

    &:nth-child(1){
      z-index: 1;
    }
    &:nth-child(2){
      z-index: 2;
    }
  }
}

#timeline{

  .container{
    @include mixins.flexCenter();
  }
}

.timeline-image-area{
  position: relative;
  width: 440px;

  @media screen and (max-width: 1080px){
    display: none;
  }

  .timeline-image{
    width: inherit;

  }

  .timeline-baloon{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
  }

  #balloon-1980{
    top: 0;
    left: 50%;
  }
  #balloon-1984{
    top: 15%;
    left: 22%;
  }
  #balloon-2000{
    top: 30%;
    left: 63%;
  }
  #balloon-2010{
    top: 44%;
    left: 22%;
  }
  #balloon-2024{
    top: 52%;
    left: 55%;
  }
  #balloon-2025{
    top: 70%;
    left: 40%;
  }
}

.timeline-texts{

  h1{
    font-size: 36px;
    font-weight: 900;
    color: variables.$brown;
    margin-bottom: 40px;
  }

  .timeline-box{
    position: relative;
    margin-bottom: 40px;
    margin-left: 20px;

    .timeline-title{
      font-size: 20px;
      font-weight: bold;
      color: variables.$brown;
      margin-bottom: 8px;
    }

    .timeline-body{
      color: variables.$brown;
    }
  }

  #box-1980::before{
    @include beforeBox(variables.$red);
  }

  #box-1984::before{
    @include beforeBox(variables.$yellow);
  }
  #box-2000::before{
    @include beforeBox(#f489b6);
  }
  #box-2010::before{
    @include beforeBox(#69a1bd);
  }
  #box-2024::before{
    @include beforeBox(variables.$blue);
  }
  #box-2025::before{
    @include beforeBox(variables.$salmao);
  }
}

#purpose{
  background-color: variables.$salmao;
  
  .container{
    @include mixins.flexCenter();
    gap: 32px;
  
    @include mixins.mobile(){
      flex-direction: column;
    }
  }
}

#mission{
  .container{
    @include mixins.flexCenter();
    gap: 32px;
    padding: 0;
  
    @include mixins.mobile(){
      flex-direction: column;
    }
  }

  .section-left{
    padding: 28px;
  }

  .section-right img{
    width: 600px;

  @include mixins.mobile(){
    width: 100%;
  }
}
}

.section-left{

  h1{
    font-size: 48px;
    font-weight: bold;
    color: variables.$red;
    margin-bottom: 24px;

    i{
      font-size: 60px;
    }
  }

  p{
    font-size: 24px;
    color: variables.$brown;
    font-weight: 500;
    max-width: 70%;

    @include mixins.mobile(){
      font-size: 20px;
      max-width: 100%;
    }
  }
}

.section-right img{
  width: 500px;

  @include mixins.mobile(){
    width: 320px;
  }
}

#total-stores{
  background-color: variables.$cream;

  .container{
    @include mixins.flexCenter();
    @include mixins.mobile(){
      flex-direction: column;
    }
  }
}
.total-stores-left{
  @include mixins.flexCenter();
  flex: 1;

  .total-store-image{
    border-radius: 52px;
    overflow: hidden;

    &:hover{

      img{
        transform: scale(1.1);
      }
    }

    img{
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
  }
}
.total-store-right{
  flex: 1;
  @include mixins.flexCenter();
  color: variables.$brown;
  
  .total-store-texts{
    @include mixins.flexCenter();
    flex-direction: column;
    width: 55%;
    text-align: center;
    @include mixins.mobile(){
      width: 100%;
      margin-top: 24px;

      h1{
        font-size: 36px;
      }
    }

    img{
      width: 100px;
    }

    h1{
      font-size: 40px;
      margin-top: 12px;
      margin-bottom: 24px;
    }
    p{
      font-size: 18px;
    }
  }
}