@use "variables";
@use "mixins";

#hero {
  position: relative;
  width: 100%;
  height: 100vh;

  #hero-video {
    object-fit: cover;
  }
}
.bg-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000088;
}

.controls-hero {
  position: absolute;
  top: 50%;
  left: 2%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    color: variables.$brown;
    font-size: 56px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: scaleY(2.0);
    transition: all 0.2s;

    &:hover{
      color: variables.$red;
    }

    &#prev-btn {
      filter: drop-shadow(4px 0px 4px #00000088);
    }

    &#next-btn {
      filter: drop-shadow(-4px 0px 4px #00000088);
    }
  }
}

.quick-access {
  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 10;
  @include mixins.flexCenter();
  align-items: flex-end;

  .franqueado {
    background-color: variables.$brown;
    padding: 8px 24px;
    color: #ffffff;
    border-top-left-radius: 8px;
    text-decoration: none;
    font-size: 14px;
  }

  .quick-social-medias {
    background-color: variables.$cream;
    padding: 6px 12px;
    border-top-right-radius: 8px;
    @include mixins.flexCenter();
    gap: 8px;
    border: 1px solid #00000088;

    i {
      font-size: 20px;
      color: variables.$brown;
      cursor: pointer;
    }
  }
}


#presentation{

  .container{
    @include mixins.flexCenter();
    @include mixins.mobile(){
      flex-direction: column;
    }
  }
}

.presentation-left{
  @include mixins.flexCenter();
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 40%;
  @include mixins.mobile(){
    width: 100%;
    margin-bottom: 40px;
  }

  h1{
    font-size: 44px;
    font-weight: 900;
    color: variables.$brown;

    @include mixins.mobile(){
      font-size: 32px;
    }
  }
  p{
    color: variables.$brown;
  }
  span{
    color: variables.$red;
    font-size: 12px;

    a{
      color: variables.$red;
      font-weight: bold;
      text-decoration: none;
      
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.presentation-right{
  width: 60%;
  @include mixins.flexCenter();
  @include mixins.mobile(){
    width: 100%;
  }

  .images-presentation-area{
    position: relative;
    width: 400px;
    height: 400px;
    @include mixins.mobile(){
      width: 240px;
      height: 240px;
    }

    &:hover{

      #presentation_1{
        transform: translateX(-50%) rotate(180deg) scale(1.2);
        top: -20%;
      }
      #presentation_2{
        transform: rotate(-20deg) scale(1.3);
      }
      #presentation_3{
        transform: rotate(-10deg) scale(1.15);
      }
      #presentation_4{
        transform: rotate(10deg) scale(1.15);
      }
      #presentation_5{
        transform: rotate(20deg) scale(1.2);
      }
    }
    
    .red-ball{
      position: relative;
      background-color: variables.$red;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;

      img{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        height: 80%;
      }
    }

    img{
      position: absolute;
      transition: all 0.5s ease-in-out;
      @include mixins.mobile(){
        width: 100px;
      }
    }
    #presentation_2{
      top: 0;
      left: -15%;
      height: 90%;
      transform: scale(1.1);
    }
    #presentation_3{
      top: 50%;
      left: 6%;
      height: 60%;
      z-index: 2;
    }
    #presentation_4{
      top: 50%;
      right: 6%;
      height: 60%;
      z-index: 2;
    }
    #presentation_5{
      top: 0;
      right: -15%;
      height: 90%;
    }
  }
}

#products{
  background-color: variables.$cream;
}

.our-products-area{
  @include mixins.flexCenter();
  gap: 80px;
  margin-top: 100px;
  @include mixins.mobile(){
    flex-direction: column;
    gap: 72px;
  }
}

.our-products-card {
  position: relative;
  display: block;
  width: 360px;
  height: 360px;
  border-radius: 16px;
  background-color: #FFAEC1;
  @include mixins.mobile(){
    width: 280px;
    height: 280px;
  }

  .our-products-images {
    position: absolute;
    inset: 0;
    padding-top: 100px;
    pointer-events: none;
    z-index: 1;

    img {
      position: absolute;
      bottom: 0;
      height: 100%;
      transition: all 0.3s ease;
    }

    img:nth-child(1) {
      left: 0;
      bottom: 10px;
      transform: scale(1.05);
    }

    img:nth-child(2) {
      right: 0;
      bottom: 10px;
      transform: scale(1.05);
    }
  }

  &:hover {
    .our-products-images img:nth-child(1) {
      transform: rotate(-6deg) scale(1.10);
      bottom: 40px;
    }

    .our-products-images img:nth-child(2) {
      transform: rotate(6deg) scale(1.10);
      bottom: 40px;  
    }
  }

  &.casquinhas-card {
    background-color: variables.$yellow;

    .our-products-images img:nth-child(1) {
      left: 15%;
    }

    .our-products-images img:nth-child(2) {
      right: 15%;
    }
  }

  .our-products-card-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 48px;
    background: linear-gradient(to top, #000000, transparent);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: #ffffff;
    z-index: 2;

    p {
      font-size: 36px;
      font-weight: 900;
      margin-bottom: 20px;
    }

    span {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

#social-medias{
  background-color: variables.$salmao;
  
  .button-icon{
    @include mixins.buttonYellow();
  }
}

.instagram-posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  @media(max-width: 768px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 440px){
    grid-template-columns: repeat(1, 1fr);
  }
}
.ig-post{
  width: 100%;
  height: 540px;
  transition: all 0.3s;

  @media(max-width: 768px){
    height: 400px;
  }
  @media(max-width: 440px){
    height: 450px;
  }

  &:hover{
    filter: brightness(0.8);
  }

  &.post-video{
    position: relative;
    
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      z-index: 2;
      color: #ffffff;
      font-size: 44px;
    }
  }
  
  img{
    width: 100%;
    height: inherit;
    object-fit: cover;
    scale: 1;
    transition: all 0.5s ease-in-out;
    vertical-align: middle;
  }
}
#begin{
  background-color: variables.$cream;

  .container{
    @include mixins.flexCenter();
    gap: 40px;
    @include mixins.mobile(){
      flex-direction: column;
    }

  }
}

.begin-images, .begin-texts{
  flex: 1;
  @include mixins.mobile(){
    flex: auto;
  };
}

.begin-images{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  img{
    width: 80%;
    transition: all 0.3s;

    &:nth-child(1):hover{
      transform: scale(1.05);
    }
  }

  img:nth-child(2){
    margin-top: -27%;
    transform: translateX(30%);
    
    &:hover{
      transform: translateX(30%) scale(1.05);
    }
  }
}

.begin-texts{
  text-align: start;

  h1{
    text-align: start
  }

  p{
    color: variables.$brown;
    font-size: 16px;
  }

  a{
    @include mixins.buttonRed();
    margin: 40px 0 0 0;
    text-decoration: none;
  }
  button{
    @include mixins.buttonRed();
    margin: 40px 0 0 0;
    text-decoration: none;
  }
}