@use "mixins";
@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Fredoka", sans-serif;
  position: relative;
  ::selection{
    color: #ffffff;
    background-color: variables.$red;
  }
}

.container{
  @include mixins.container();
}

.section-title{
  font-size: 44px;
  font-weight: 900;
  color: variables.$brown;
  text-align: center;
  margin-bottom: 40px;
    
  @include mixins.mobile(){
    font-size: 32px;
  }
}
.hero-title{
  font-size: 80px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -40px;
  filter: drop-shadow(2px 2px 2px #555);

  @include mixins.mobile(){
    font-size: 52px
  }
}

.buttonRed{
  @include mixins.buttonRed();
}
.buttonIcon{
  @include mixins.buttonIcon();
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}
header.active{
  background-color: variables.$cream;
  box-shadow: 1px 1px 10px #00000030;

  .bars-mobile i{
    color: #000000;
  }
  .header-container{
    padding: 12px;
  }
  .link-header{
    color: variables.$brown;
  }
  .link-header:hover{
    color: variables.$red;
  }
  .link-header.active{
    color: variables.$red
  }
}
.header-container{
  @include mixins.flexBetween();
  gap: 20px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  transition: all 0.5s ease-in-out;
}
.bars-mobile{
  display: none;

  i{
    font-size: 24px;
    color: #ffffff;
  }

  @include mixins.mobile(){
    display: block;
  }
}
.logo-header{
  width: 400px;

  img{
    width: 100%;
  }
}
.header-content{
  @include mixins.flexCenter();
  gap: 44px;

  nav{
    @include mixins.mobile(){
      display: none;
    }
  }
  nav ul{
    @include mixins.flexCenter();
    gap: 32px;
    list-style: none;
  }
  .link-header{
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s;
  }
  .link-header:hover{
    color: #ffffff;
  }
  .link-header.active{
    color: #ffffff
  }

}

.mobile-aside-bg{
  position: fixed;
  inset: 0;
  background-color: #00000088;
  z-index: 21;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  
  &.active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    
    .mobile-aside{
      transform: translateX(0%);
    }
  }
  
  .mobile-aside{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;

    .mobile-aside-top{
      padding: 32px 24px;

      .aside-logo{
        width: 240px;
        margin-bottom: 32px;
      }
    }
    ul{
      width: 100%;

      li a{
        color: #242424;
        text-decoration: none;
        padding: 16px 24px;
        display: block;

        &:hover{
          background-color: #dfdfdf;
        }
      }
    }
  }
}


footer {

  .container{
    padding: 40px 16px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 40px;

    @include mixins.mobile(){
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .footer-contact-list{
    display: flex;
    flex-direction: column;
    gap: 8px;

    i{
      margin-right: 8px;
    }
  }

  ul{
    li{
      color: #377899;
      list-style: none;
      font-size: 18px;
      margin-bottom: 8px;
      
      a{
        color: #377899;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  i{
    color: variables.$brown;
  }
}
.logo-footer{
  width: 200px;
  height: 200px;

  @include mixins.mobile(){
    width: 120px;
    height: 120px;
  }

  img{
    width: inherit;
  }
}
.footer-title{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #377899;
  margin-bottom: 20px;
}
.footer-social-medias{
  p {
    color: #377899;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  div {
    display: flex;
    gap: 8px;
    margin-top: 12px;

    i{
      font-size: 18px;
    }
  }
}
.developed{
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
  color: variables.$brown;
  
  a{
    color: variables.$brown;
    font-weight: 500;
  }
}