#hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
#hero #hero-video {
  object-fit: cover;
}

.bg-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5333333333);
}

.controls-hero {
  position: absolute;
  top: 50%;
  left: 2%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls-hero button {
  color: #4D2B1A;
  font-size: 56px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: scaleY(2);
  transition: all 0.2s;
}
.controls-hero button:hover {
  color: #A8151F;
}
.controls-hero button#prev-btn {
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.5333333333));
}
.controls-hero button#next-btn {
  filter: drop-shadow(-4px 0px 4px rgba(0, 0, 0, 0.5333333333));
}

.quick-access {
  position: fixed;
  bottom: 0;
  right: 2%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.quick-access .franqueado {
  background-color: #4D2B1A;
  padding: 8px 24px;
  color: #ffffff;
  border-top-left-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}
.quick-access .quick-social-medias {
  background-color: #fcf1d3;
  padding: 6px 12px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5333333333);
}
.quick-access .quick-social-medias i {
  font-size: 20px;
  color: #4D2B1A;
  cursor: pointer;
}

#presentation .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #presentation .container {
    flex-direction: column;
  }
}

.presentation-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 40%;
}
@media (max-width: 768px) {
  .presentation-left {
    width: 100%;
    margin-bottom: 40px;
  }
}
.presentation-left h1 {
  font-size: 44px;
  font-weight: 900;
  color: #4D2B1A;
}
@media (max-width: 768px) {
  .presentation-left h1 {
    font-size: 32px;
  }
}
.presentation-left p {
  color: #4D2B1A;
}
.presentation-left span {
  color: #A8151F;
  font-size: 12px;
}
.presentation-left span a {
  color: #A8151F;
  font-weight: bold;
  text-decoration: none;
}
.presentation-left span a:hover {
  text-decoration: underline;
}

.presentation-right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .presentation-right {
    width: 100%;
  }
}
.presentation-right .images-presentation-area {
  position: relative;
  width: 400px;
  height: 400px;
}
@media (max-width: 768px) {
  .presentation-right .images-presentation-area {
    width: 240px;
    height: 240px;
  }
}
.presentation-right .images-presentation-area:hover #presentation_1 {
  transform: translateX(-50%) rotate(180deg) scale(1.2);
  top: -20%;
}
.presentation-right .images-presentation-area:hover #presentation_2 {
  transform: rotate(-20deg) scale(1.3);
}
.presentation-right .images-presentation-area:hover #presentation_3 {
  transform: rotate(-10deg) scale(1.15);
}
.presentation-right .images-presentation-area:hover #presentation_4 {
  transform: rotate(10deg) scale(1.15);
}
.presentation-right .images-presentation-area:hover #presentation_5 {
  transform: rotate(20deg) scale(1.2);
}
.presentation-right .images-presentation-area .red-ball {
  position: relative;
  background-color: #A8151F;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.presentation-right .images-presentation-area .red-ball img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
}
.presentation-right .images-presentation-area img {
  position: absolute;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .presentation-right .images-presentation-area img {
    width: 100px;
  }
}
.presentation-right .images-presentation-area #presentation_2 {
  top: 0;
  left: -15%;
  height: 90%;
  transform: scale(1.1);
}
.presentation-right .images-presentation-area #presentation_3 {
  top: 50%;
  left: 6%;
  height: 60%;
  z-index: 2;
}
.presentation-right .images-presentation-area #presentation_4 {
  top: 50%;
  right: 6%;
  height: 60%;
  z-index: 2;
}
.presentation-right .images-presentation-area #presentation_5 {
  top: 0;
  right: -15%;
  height: 90%;
}

#social-medias {
  background-color: #F4C489;
}
#social-medias .buttonIcon {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #FDAE0C;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: "Onest", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 72px;
}
@media (max-width: 768px) {
  #social-medias .buttonIcon {
    font-size: 14px;
    padding: 8px 16px;
  }
}
#social-medias .buttonIcon:hover {
  background-color: #d3910c;
}

.instagram-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 768px) {
  .instagram-posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 440px) {
  .instagram-posts {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ig-post {
  width: 100%;
  height: 540px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .ig-post {
    height: 400px;
  }
}
@media (max-width: 440px) {
  .ig-post {
    height: 450px;
  }
}
.ig-post:hover {
  filter: brightness(0.8);
}
.ig-post.post-video {
  position: relative;
}
.ig-post.post-video i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  color: #ffffff;
  font-size: 44px;
}
.ig-post img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  scale: 1;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
}

#begin {
  background-color: #fcf1d3;
}
#begin .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  #begin .container {
    flex-direction: column;
  }
}

.begin-images, .begin-texts {
  flex: 1;
}
@media (max-width: 768px) {
  .begin-images, .begin-texts {
    flex: auto;
  }
}

.begin-images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.begin-images img {
  width: 80%;
  transition: all 0.3s;
}
.begin-images img:nth-child(1):hover {
  transform: scale(1.05);
}
.begin-images img:nth-child(2) {
  margin-top: -27%;
  transform: translateX(30%);
}
.begin-images img:nth-child(2):hover {
  transform: translateX(30%) scale(1.05);
}

.begin-texts {
  text-align: start;
}
.begin-texts h1 {
  text-align: start;
}
.begin-texts p {
  color: #4D2B1A;
  font-size: 16px;
}
.begin-texts a {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #A8151F;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-family: "Onest", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .begin-texts a {
    font-size: 14px;
    padding: 8px 16px;
  }
}
.begin-texts a:hover {
  background-color: #8b0f17;
}

/*# sourceMappingURL=inicio.css.map */
